<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
<a class="nav-link" href="/"><h1 class="text-white">BBZW Dorfladen</h1></a>
</nav>

<a href="/Cart" class="btn btn-primary text-white"><i class="fas fa-shopping-cart text-white" ></i> <span id="miniCart"></span></a>

<hr>