<%- await include('views/includes/header.ejs', { title: 'Checkout - Kein Zugriff' }) %>

<div class="container-fluid text-center">
    <h1>Kein Zugriff!</h1>

    <p>Ihr Warenkorb ist leer. Gehen Sie zurück zum <a href="/" class=>Shop</a></p>
</div>